/* General styles for both user and admin pages */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.main-content {
    margin-top: 70px; /* Adjust this to match the header height */
}

/* Add underline after each section */
.main-content section {
    max-width: 1200px;
    margin: 0 auto;
}

.main-content section ul {
    list-style-type: disc; /* Use bullets for unordered lists */
}

